<%- include('partials/header') %>
<h1>Welcome to Forum</h1>

<% blogs.forEach(function(blog) { %>
<article>
  <h2><%= blog.title %></h2>
  <img src="<%= blog.image %>" />
  <p><%= blog.body.substring(0,100) %></p>
  <a href="/blogs/<%= blog._id %>">....Read More</a>
</article>

<% }) %> <%- include('partials/footer') %>
