<%- include('partials/header')  %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
                <p>Submitted by:  <%= blog.author.username %></p>
            </div>
            <div class="paragraph">
                <p> <%= blog.body %> </p>
            </div>
            <% if(currentuser && blog.author.id.equals(currentuser._id)){ %>
            <a  class="edit-blog"href="/blogs/<%= blog._id %>/edit ">Edit Blog</a>
            <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                <button class="ui red basic comment-btn btn-delete">Delete Blog</button>
            </form>
            <%  }%>
            <form action="/blogs/<%= blog._id %>/comments/new" ">
                <button class="ui green basic comment-btn">Add Comment</button>
            </form>
           
        </div>
        
    </div>
    
    
   
</div>

<div>
    <% blog.comments.forEach(function(comment) { %>
        <p class="comment-body">
            <span class="comment-author"><%= comment.author %>: </span> <span class="comment-content">"<%= comment.content%>"<span>
        </p>
        
        <div class="comment-box">
            <a  class="comment-btn" href="/blogs/<%= blog._id %>/comms/<%= comment._id %>/edit">Edit Comment</a>
            <form action="/blogs/<%= blog._id %>/comms/<%= comment._id %>?_method=DELETE" method="POST">
                <button class="comment-btn btn-delete">Delete Comment</button>
        </div>
        </form>
  <% }); %>

 
</div>


<%- include('partials/footer')  %>